* {
  font-family: "Meslo Nerd Font";
  font-size: 12px;
  border-radius: 0;
  min-height: 0;
  border: none;
  font-weight: bold;
}
#window{
  background-color: #74c7ec;
}
#waybar {
  background-color: #16161e;
  transition-property: background-color;
  transition-duration: 0.5s;
}
#waybar.hidden {
  opacity: 0.5;
}
#workspaces{
  border: none;
  box-shadow: none;
  background-color: rgba(36, 36, 52, 1.0);
  border-radius: 22px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom:5px;
  padding-right:2px;
}
#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 15px 6px 15px;
  /*margin: 6px 3px;*/
  /*border-radius: 4px;*/
  /*background-color: rgba(36, 36, 52, 1.0);*/
  color: #cdd6f4;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}
.modules-center{
  margin-left: -19px;
}
#workspaces button.active {
  color: #7aa2f7;
  font-size: 15px;
  text-shadow: 0 0 4px #ABE9B3;
  /*background-color: #cdd6f4;*/
}
/*#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}*/

